.card {
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 15px;
  background-color: white;
  max-width: 300px;
  min-width: 12vw;
  aspect-ratio: 2 / 3;
}

#player .card:hover {
  border: 1px solid burlywood;
}

#player .card:active {
  border: 1px solid burlywood;
  box-shadow: -10px 10px 5px grey;
}

.card .num {
  font-size: 6vw;
}

.card .row {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 1vw;
}

.arrow {
  display: flex;
  user-select: none;
}

.up,.down {
  line-height: 80%;
  margin: 12px 0 12px;
}

.down {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
