.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

p {
  text-align: center;
  margin: 0;
}

#game {
  margin: 2%;
  display: flex;
  justify-content: space-evenly;
}

#player {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
